#img-upload-btn {
  position: fixed;

  /* Styles 2 */
  /* top: 20px;
  left: 20px; */
  /*  */

  /* Styles */
  /* width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */
  /*  */

}

.imgUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.imgUpload + label {
  /* position: absolute; */
  /* margin: auto; */
  height: 75px;
  width: 170px;
  /* top: 20px; */
  /* left: 20px; */
  z-index: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  transition: all 0.25s;
}

.imgUpload:focus + label,
.imgUpload + label:hover {
  background-color: rgba(212, 212, 212, 0.588);
}
