.selectedArea {
  position: relative;
  height: 100%;
  .blank {
    cursor: pointer;
    height: 100%;
  }
}

/* ::-webkit-scrollbar {
} */

#selected-image {
  box-shadow: var(--shadow-2);
  border-radius: 25px;
}
